@import "colors.css";

* {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--background) !important;
}

.zebody {
    display: flex;
    height: 75svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello {
    color: var(--cursor);
    font-size: 200px;
    text-align: center;
}

.how-you {
    color: var(--cursor);
}

.color-text {
    color: var(--color3);
}
