# Shell history & plugins
.zsh_history
zsh/.zsh/plugins/fsh
zsh/.zsh/plugins/zsh-autosuggestions
zsh/.zsh/plugins/zsh-completions
zsh/.zsh/plugins

# Waypaper & app configs
waypaper/.config/waypaper/config.ini
accels.scm
renamerrc

# Generated Theme & Color files
custom_homepage/css/colors.css
custom_homepage/v1/css/colors.css
custom_homepage/v2/css/colors.css
btop/.config/btop/themes/colors-btop.theme
Hyprland/.config/hypr/colors-hyprland.conf
Hyprland/.config/hypr/colors-hyprland.lua
Hyprland/.config/hypr/hyprland.conf
kitty/.config/kitty/colors.conf
rofi/.config/rofi/colors.rasi
swaync/.config/swaync/colors.css
swayosd/.config/swayosd/colors.css
waybar/.config/waybar/colors.css
wlogout/.config/wlogout/colors.css
wofi/.config/wofi/colors.css

# Hyprland private configs
Hyprland/.config/hypr/confs/gitignored.conf
Hyprland/.config/hypr/confs/gitignored.lua

# Backup & editor files
*.save
*.bak
*.swp
*.tmp

# Local wifi/eth scripts
iiitkwifi.sh
iiitketh.sh