@import url("/home/roshanbinoj/.cache/wal/colors-waybar.css");
/* Dark mode */
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono Nerd Font;
    font-size: 15px;
    font-weight:bolder;
}
window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: @color3;
}

#workspaces {
    margin: 2px;
    background-color: transparent;
    color: @color3;
}


#workspaces button {
    background-color: transparent;
    color: @color3;
    margin-left:2px;
    margin-right:2px;
}

#workspaces button.active {
    background-color: transparent;
    border-radius: 10px;
    padding:0px 15px 0px;
    transition-property:padding;
    transition-property:border;
    transition-duration: .25s;
    color: @color1;
    border-bottom: 4px solid @color1;
    border-right: 1px solid @color1;
    border-left: 1px solid @color1;
}


.modules-left {
    margin-left: 5px;
    padding: 0px 10px 0px;
    background-color: alpha(@background,0.75);
    border-radius: 10px;
    border: @color3 solid 1px;
}

.modules-center {
    border: @color3 solid 1px;
    padding: 0px 10px 0px;
    background-color: alpha(@background,0.75);
    border-radius: 10px;
}

.modules-right {
    border: @color3 solid 1px;
    padding: 0px 10px 0px;
    background-color: alpha(@background,0.75);
    margin-right: 5px;
    border-radius: 10px;
}

