@import "/home/alan/.cache/wal/colors-waybar.css";
window {
margin: 0px;
border: 1px solid @color12;
border-radius: 10px;
background-color: @foreground;
}

#input {
margin: 5px;
border: none;
border-radius: 10px;
color: @background;
background-color: @foreground;
}

#inner-box {
margin: 5px;
border-radius: 10px;
border: none;
background-color: @color7;
}

#outer-box {
margin: 5px;
border-radius: 10px;
border: none;
background-color: @color7;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @background;
} 

#entry.activatable #text {
color: @color4;
}

#entry > * {
color: @color3;
}

#entry:selected {
background-color: @color8;
border-radius: 10px;
}

#entry:selected #text {
font-weight: bold;
}
